.options {
  width: 20%;
  background-color: var(--background-color);
  padding: 20px;
  border-right: 1px solid var(--sub-color);
}

.options > * {
  margin-bottom: 20px;
}

.iterations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iterations input[type="number"] {
  margin: 0;
  width: 30%;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 8px 12px;
  border: 1px solid var(--sub-color);
  border-radius: 4px;
  font-size: 14px;  
  box-sizing: border-box;
}


.iterations input[type="number"]:focus {
  border: 1px solid dodgerblue;   
  outline: none; 
}

.options select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--sub-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.options select:focus {
  border: 1px solid dodgerblue;
  outline: none;
}

.options label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.options .checkbox_container {
  display: flex;
  align-items: center;
}

.options .checkbox_container span {
  margin-left: 8px;
}

.threads { 
  display: inline-flex;
  align-items: center; 
  margin-right: 2%; 
  margin-bottom: 8px;
  width: 20%;
}

.threads span {
    margin-left: 8px;
}