.parameters {
    margin-top: 2%; 
}

.parameters > * {
    margin-bottom: 2%;
}

.parameters input[type="number"] {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--sub-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    font-size: 14px;  
    margin: 0;
    box-sizing: border-box;
}

.parameters input[type="number"]:focus {
    border: 1px solid dodgerblue;
    outline: none;
}

.parameters .ranger {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ranger input[type='range']{
    width: 80%;
}


.parameters input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--sub-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

.parameters input[type="text"]:focus {
    border: 1px solid dodgerblue;
    outline: none;
}

.parameters select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--sub-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    font-size: 14px;
}

.parameters select:focus {
    border: 1px solid dodgerblue;
    outline: none;
}

.parameters label {
display: block;
font-weight: bold;
margin-bottom: 5px;
}