.inputText {
    display: block;
    width: 100%;
    padding: 2%;
    margin-bottom: 5%;
    border: 2px solid var(--sub-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}

.inputText:focus {
    border: 1px solid dodgerblue;
    outline: none;
}