.workspace {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 40vh;
    width: 100%;
    position: relative;
}

.editorView {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 80%;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: white;
}