.modal {
    width: 50vw;
    max-height: 90vh;
    border: none;
    border-radius: 30px;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 100000;
}

.buttonClose {
    color: var(--text-color);
    border: none;
    width: 3vw;
    height: 4vh;
    font-weight: bolder;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease;
}

.buttonClose:hover {
    color: red;
    background: none;
}

.buttonClose:active {
    transform: scale(0.9);
}