.menu {
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid var(--sub-color);
    border-radius: 4px;
    padding: 8px;
    z-index: 1000;
    min-width: 500px;
    color: var(--text-color);
}