.tab {
    display: flex;
    width: 80vw;
    max-height: 97%;
    flex-direction: column;
    border: 1px solid var(--sub-color);
    margin: 1%;
    gap: 10px;
}

.openList {
    height: 27px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    background-color: var(--subbackground-color);
    padding: 1%;
    justify-content: space-between;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.openList input,
.openList select {
    padding: 5px;
    border: 1px solid var(--sub-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    font-size: 1.5rem;
    margin-left: 0;
    box-sizing: border-box;
}

.openList input:focus,
.openList select:focus
{
    border: 1px solid dodgerblue;
    outline: none;
}

.addButton {
    background: transparent;
    color: var(--text-color);
    font-size: 3rem;
}

.addButton:hover {
    background: transparent;
    color: dodgerblue;
}

.title {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid var(--sub-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 3px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
}

.title:focus {
    border: 1px solid dodgerblue;
    outline: none;
}

.accessCheck {
    cursor: pointer;
    margin-top: 1rem;
}

.textInput {
    width: 100%;
    font-family: 'Roboto', sans-serif;;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--sub-color);
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    white-space: nowrap;
    margin-top: 1rem;
    border-radius: 3px;
}

.textInput:focus {
    border: 1px solid dodgerblue;
    outline: none;
}