.item {
    width: 100%;
    height: 15vh;
    margin: 2%;
    position: relative;
}

.itemButton {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-color: var(--sub-color);
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.itemButton h2 {
    width: 100%;
    margin: 0;
}

.itemButton img {
    width: 20%;
    height: auto;
}

.deleteButton {
    height: 4vh;
    width: 3vw;
    position: absolute;
    top: 3px;
    right: 0px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    border: none;
    transition: all 0.2s ease;
    padding-bottom: 3px;
}

.deleteButton:hover {
    color: red;
    background: none;
}

.deleteButton:active {
    transform: scale(0.9);
}