:root {
  --background: linear-gradient(#eee 55%,rgba(30, 144, 255, 0.3));
  --background-color: white;
  --subbackground-color: #ddd;
  --text-color: black;
  --subtext-color: #2c3e50;
  --sub-color: #ccc;
  --header-color: #eee;
  --warning-color: rgb(252, 185, 0);
  --info-color: rgb(0, 255, 0);
}

[data-theme="dark"] {
  --background: linear-gradient(#333 55%, rgba(30, 144, 255, 0.1));
  --background-color: #1e1e1e;
  --subbackground-color: #333;
  --text-color: white;
  --subtext-color: #c7dff8;
  --sub-color: #333;
  --header-color: #121212;
  --warning-color: yellow;
  --info-color: rgb(0, 255, 0);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

button {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 5px;
  transition: all 0.2s ease;
}

button img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

button:hover {
  background-color: #333;
}

.button:active {
  transform: scale(0.9);
}